*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --primary-color: darkgreen;
    --secundary-color: lightgreen;
}


body{
    max-width: 1200px;
    margin: 0 auto;
}
body.dark{
    background-color: black;
    color: white;
}
img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: inline-block;
}
button{
    border: none;
    display: inline-block;
    color: inherit;
}

ul{
    list-style: none;
}


a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
    font-size: 20px;
    width: 20px;
}

.header iframe{
    height: 100vh;
    width: 100%;
    position: fixed;
}

.header__nav{
    background-color: var(--secundary-color);
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    z-index: 20;
}

.dark .header__nav{
    background-color: var(--primary-color);
}

.nav__start,
.nav__center,
.nav__end{
    display: flex;
    align-items: center;
    gap: 10px;
}
.main{
    position: relative;
    z-index: 10;
}

.section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 60px 10px 10px;
    /* align-items: center; */
    justify-content: space-between;

}


.front > * {
    text-align: center;
}

.about,
.skills{
    align-items: start;
}

.about iframe{
    height: 50%;
}

.hard__skills{
    position: relative;
    height: 65%;
    width: 100%;
}




.hard__skills button{
    position: absolute;
    background-color: var(--secundary-color);
    top: 50%;
    width: 25px;
    aspect-ratio: 1;
    border-radius: 50%;
}
.dark .hard__skills button{
    background-color: var(--primary-color);
}

.btn__prev{
    left: 1%;
}

.btn__next{
    right: 1%;
}
/* estilos para el slider splide */

.splide{
    padding: 50px;
}
.splide__slide{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 10px;
}
.splide__slide div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}
.splide__slide div > *{
    width: 80%;
    text-align: center;
   
}
.splide__slide figure{
    border-radius: 20px;
    overflow: hidden;
  
}




/* fin de los stilos para el slider splide */

.education{
    justify-content: space-evenly;
}

.achivements{
    height: 50%;
}

@media(min-width: 850px){
    a{
        font-size: 25px;
        width: 25px;
    }
    a:hover{
        transform: scale(1.25);
    }
    a:hover::after{
        position: absolute;
        background-color: var(--secundary-color);
        top: 0;
        left: 40px;
        font-size: 16px;
        content: 'texto de prueba';
        width: max-content;
        border:1px solid;
        padding: 5px 10px;
        border-radius: 5px;

    }
    .dark a:hover::after{
        background-color: var(--primary-color);
    }
    .header__nav{
        height: 100vh;
        width: 50px;
        flex-direction: column;
        width: fit-content;
    }
    .nav__start,
    .nav__center,
    .nav__end{
        flex-direction: column;
    }
    /*estilos para las tooltips*/
    .icon__home:hover::after{
        content: 'ir al inicio';
    }
    .icon__about:hover::after{
        content: 'Sobre mi';
    }
    .icon__skills:hover::after{
        content: 'Habildades';
    }
    .icon__proyects:hover::after{
        content: 'Proyectos';
    }
    .icon__education:hover::after{
        content: 'Educacion';
    }
    .icon__achivement:hover::after{
        content: 'Logros Destacados';
    }
    .icon__cv:hover::after{
        content: 'Descaragar cv';
    }
    .icon__languaje:hover::after{
        content: 'Cambiar idioma';
    }
    .icon__volume:hover::after{
        content: 'activar sonido';
    }
    .icon__mode:hover::after{
        content: 'Activa/desactiva el modo oscuro';
       
    }
    .icon__mode{
        cursor: pointer;
    }

    /* fin de los estilos para los tooltips*/
    .section{
        padding: 50px 50px 50px 100px;
        display: grid;
    }
    .front{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        align-items: center;
    }
    .front h1{
        grid-column: span 2;
    }
    .front h2{
        grid-column: 1;
        grid-row: 2;
        text-align: left;
    }
    .front p{
        grid-column: 1;
        grid-row: 3;
        text-align: left;
    }
    .front figure{
        grid-column: 2;
        grid-row: 2 / span 2;
    }
    .about{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr 4fr);
        align-items: center;
        gap: 30px;
    }
    .about h2{
        grid-column: span 2;
    }

    .about p{
        grid-column: 1;
        grid-row: 2;
    }
    .about h3{
        grid-column: 1;
        grid-row: 3;
    }
    .about ul{
        grid-column: 1;
        grid-row: 4;
    }
    .about iframe{
        grid-column: 2;
        grid-row: 2 / span 4;
        width: 100%;
        height: 100%;
    }
    .skills{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr 4fr);
        align-items: center;
        margin-bottom: 50px;
    }
    .skills h2{
        grid-column: span 2;
    }
    .soft__skills {
       grid-column: 1;
       grid-row: 2 / span 2;
       display: flex;
       flex-direction: column;
       gap: 70px;
    }
    .soft__skills li{
        margin: 10px 0;
    }
    .hard__skills{
        grid-column: 2;
        grid-row: 2 / span 4;
        display: flex;
        flex-direction: column;
        gap: 50px;
        height: 80%;
    }
    .projects{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 5fr;
    }
    .education{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr 5fr);
        align-items: center;
    }
    .education h2{
        grid-column: span 2;
        align-self: self-end;
    }
    .educacion article{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .education article{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .educacion li{
        margin: 10px 0;
    }
    .achivements{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr 5fr);
        align-items: center;
        column-gap: 70px;
    }
    .achivements h2{
        grid-column: span 2;
        align-self: self-end;
    }
    .splide__slide{
       flex-direction: row;
    }
    

}









